HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Maven build directories
target/
.idea/
.vscode/

# IntelliJ IDEA project files
.idea/

# Eclipse project files
.project
.classpath
.settings/

# Logs
*.log

# Sensitive environment files
.env
application.properties
application.yml
config/application.properties
config/application.yml

# Other configuration files that might contain secrets
*.key
*.pem
.DS_Store
